#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#gallery img {
  aspect-ratio: 1;
  display: block;
  object-fit: cover;
  width: 100%;
}

dialog {
  border: none;
  box-shadow: 0 0 10px black;
  left: 50%;
  margin: 0;
  max-height: 95vh;
  max-width: 95vw;
  padding: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
dialog:focus-visible {
  outline: none;
}

dialog img {
  background: black;
  display: block;
  max-height: 95vh;
  max-width: 95vw;
  object-fit: contain;
}

body:has(dialog[open]) {
  overflow: hidden;
}
