/* Modifications to the Dolomia template CSS */

.gallery-carousel {
  display: grid;
  justify-content: center;
}

.carousel-strip {
  display: grid;
  gap: 25px;
  grid-auto-flow: column;
}

.carousel-strip img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 134px;
}

.showcase-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

#page-content #showcase-treks .showcase-carousel .item:hover {
  margin-top: inherit;
  transform: translateY(-10px);
}
