/* Fonts */

@font-face {
  font-display: fallback;
  font-family: "Trirong";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Trirong-Regular.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Trirong";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/Trirong-Italic.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "puredesign";
  font-style: normal;
  font-weight: normal;
  src:url("/assets/fonts/puredesign.ttf");
}

/* Standard elements */

* {
  box-sizing: border-box;
}

body {
  --color-accent: #cbbd9a;
  --color-background-light: #f6f6f6;
  --color-text-dark: #2f2911;
  --color-text-light-on-dark: #d1d2d3;
  --color-text-light: #6e6b66;
  --font-family-heading: "Montserrat", sans-serif;
  --font-family-nav: "Open Sans", sans-serif;
  background: var(--color-background-light);
  color: var(--color-text-light);
  font-family: "Trirong", serif;
  font-size: 14px;
  margin: 0;
  padding: 0;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

section {
  padding: 50px 0;

  &.white {
    background: white;
  }
}

h1, h2, h3 {
  color: var(--color-text-dark);
  font-family: var(--font-family-heading);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  letter-spacing: 0.5px;
}

h2 {
  font-size: 26px;
  font-weight: normal;
  line-height: 40px;
  text-align: center;
  text-shadow: 2px 2px 40px #888b8d;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
}

p {
  margin-bottom: 16px;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

blockquote {
  font-size: 16px;
  font-style: italic;
  padding: 0 0 0 40px;
  position: relative;
  right: 0;

  &::before {
    color: #CBBD9A;
    content: "“";
    display: inline-block;
    font-size: 180px;
    left: -50px;
    position: absolute;
    right: 0;
    text-shadow: 4px 4px 10px #444;
    top: -80px;
  }

  em {
    color: rgb(209, 210, 211);
  }
}

dialog {
  border: none;
  box-shadow: 0 0 10px black;
  left: 50%;
  margin: 0;
  max-height: 95vh;
  max-width: 95vw;
  padding: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
dialog:focus-visible {
  outline: none;
}

dialog img {
  background: black;
  display: block;
  max-height: 95vh;
  max-width: 95vw;
  object-fit: contain;
}

/* Common elements */

.centerColumn {
  display: grid;
  grid-template-columns: 1fr min(2vw, 50px) minmax(0, 970px) min(2vw, 50px) 1fr;

  & > * {
    grid-column: 3;
  }
}

.autoColumns {
  display: grid;
  gap: 40px;

  @media (min-width: 768px) {
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
  }
}

.sellingPoint {
  text-align: center;

  .icon {
    font-size: 40px;
    margin-bottom: 18px;
  }

  h3 {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
    margin-bottom: 9px;
  }

  p {
    padding: 0 35px;
  }
}

.subhead {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
  margin: 0 0 3em 0;
  text-align: center;
  text-wrap: balance;
}

.verticalLine {
  background-color: var(--color-accent);
  height: 40px;
  left: 0;
  margin: 0 auto 20px auto;
  right: 0;
  width: 2px;
}

.action {
  background: white;
  border-radius: 2px;
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  font-family: var(--font-family-nav);
  letter-spacing: 1px;
  padding: 12px 30px;
  text-transform: uppercase;
  transition: background 0.5s ease, color 0.5s ease;

  &:hover {
    background: var(--color-accent);
    color: white;
  }

  &.inverse {
    background: var(--color-accent);
    color: white;

    &:hover {
      background: white;
      color: var(--color-accent);
    }
  }
}

/* Top nav */

header {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-family: var(--font-family-nav);
  font-size: 16px;
  letter-spacing: 0.5px;
  position: fixed;
  transition: background-color 0.5s ease, color 0.5s ease;
  width: 100%;
  z-index: 1;

  &.opaque {
    background: white;
    box-shadow: 0px 2px 4px -2px rgba(156, 156, 156, 0.5);
    color: var(--color-text-dark);
  }
}

nav {
  align-items: center;
  display: grid;
  gap: min(5vw, 30px);
  grid-template-columns: 1fr repeat(4, auto);
  padding-bottom: 10px;
  padding-top: 10px;

  a.active {
    color: var(--color-accent);
  }

  #linkLogo {
    display: grid;

    .small {
      font-size: smaller;
    }

    h3 {
      color: currentColor;
      line-height: 1.1;
    }

    svg {
      fill: currentColor;
      height: 30.5px;
      width: 100px;
    }
  }

  @media (max-width: 768px) {
    #linkHome {
      display: none;
    }
  }
}

/* Hero */
.hero {
  align-content: center;
  color: white;
  display: grid;
  gap: 2em;
  height: 650px;
  justify-content: center;
  position: relative;
  text-align: center;

  img {
    filter: brightness(0.7);
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  h1 {
    color: inherit;
    font-size: 55px;
    text-shadow: 0 0 10px black;
  }

  .tagline {
    font-size: 16px;
    text-shadow: 0 0 10px black;
  }
}

/* Thumbnail gallery */
.thumbnails {
  background: white;
  display: grid;
  gap: 25px;
  grid-auto-flow: column;
  justify-content: center;
  overflow: hidden;
  padding: 25px 0;

  img {
    height: 138px;
    object-fit: cover;
    width: 138px;
  }
}

/* Trip cards */
.cards {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
}

.card {
  background: white;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
  color: inherit;
  position: relative;
  transition: box-shadow 0.5s ease;

  &:hover {
    /* box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.21);     */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease;
  }

  .price {
    background-color: var(--color-accent);
    border-radius: 2px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);    
    color: white;
    font-family: var(--font-family-heading);
    font-size: 12px;
    height: 40px;
    left: 36px;
    letter-spacing: 1px;
    line-height: 40px;
    padding: 0 30px;
    position: absolute;
    text-align: center;
    top: 36px;
  }

  img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
    width: 100%;
  }

  .content {
    display: grid;
    padding: 36px;
    text-align: center;

    & > * {
      & + * {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 18px;
        padding-top: 18px;
      }
    }
    
    .cardFacts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      
      & > * {
        .value {
          color: var(--color-accent);
          font-family: var(--font-family-heading);
          font-size: 20px;
        }

        .label {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    .name {
      color: var(--color-text-dark);
      font-size: 16px;
    }
    
    .destination {
      font-size: 14px;
    }
  }
}

.callout {
  color: white;
  position: relative;

  .background {
    background-attachment: fixed;
    background-image: url(/assets/img/trips/testimonials.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.6);
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

/* Team gallery */
.person {
  text-align: center;
  
  img {
    aspect-ratio: 1;
    border-radius: 2px;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
    object-fit: cover;
    width: 100%;
  }

  .name {
    color: var(--color-text-dark);
    font-family: var(--font-family-heading);
    font-size: 16px;
    margin-top: 1em;
  }
}

/* Trek summary */

.summary {
  .autoColumns {
    gap: 80px;
  }
}

/* Guide card */
.guide {
  align-self: start;
  background: var(--color-background-light);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.15);
  display: grid;
  gap: 8px;
  font-size: 16px;
  justify-items: center;
  padding: 50px;
  text-align: center;

  img {
    border-radius: 50%;
    width: 60px;
  }
}

/* Trek facts */
.trekFacts {
  font-size: 16px;
  text-align: center;

  .icon {
    font-size: 50px;
  }

  .label {
    color: var(--color-accent);
    font-family: var(--font-family-heading);
  }
}

/* Call to action */
.callToAction {
  background: var(--color-accent);
  color: white;
  display: grid;
  gap: 20px;
  justify-items: center;

  h2 {
    color: inherit;
  }

  .action {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 30px 0px;
    border-color: white;
  }
}

/* Image gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  img {
    aspect-ratio: 1;
    display: block;
    object-fit: cover;
    width: 100%;
  }
}

/* Contact Us */
.contact {
  form {
    align-self: start;
    display: grid;
    gap: 25px;

    input[type="text"], textarea {
      background: var(--color-background-light);
      border-radius: 2px;
      border: none;
      font-family: inherit;
      font-size: 14px;
      padding: 9px;
    }

    input[type="submit"] {
      justify-self: start;
    }
  }
}

/* Footer */
footer {
  background: #444;
  color: var(--color-text-light-on-dark);
  padding: 50px 0;

  .infoGrid {
    display: grid;
    gap: 10px 50px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, auto) 1fr;
    }
  
    h3 {
      color: white;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    p {
      margin-top: 0;
    }
  }

  .textWithButton {
    display: grid;
    grid-template-columns: 1fr auto;
    --border-radius: 3px;

    input {
      border: none;
      padding: 9px;
      font-family: var(--font-family-heading);
      font-size: 14px;
    }

    input:first-child {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }

    input:last-child {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }

    .action {
      letter-spacing: initial;
      padding: 9px 18px;
      text-transform: initial;
    }
  }
}

/* Pure Design icons */
[data-icon]:before {
  font-family: "puredesign" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pd-icon-"]:before,
[class*=" pd-icon-"]:before {
  font-family: "puredesign" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pd-icon-camp-bag:before {
  content: "\6b";
}
.pd-icon-camping-knife:before {
  content: "\6c";
}
.pd-icon-distance:before {
  content: "\6f";
}
.pd-icon-hour:before {
  content: "\61";
}
.pd-icon-male:before {
  content: "\43";
}
.pd-icon-money:before {
  content: "\42";
}
.pd-icon-sunrise:before {
  content: "\64";
}
.pd-icon-watch:before {
  content: "\62";
}
