<!-- Template for a set of trek cards  -->
<div class="col-md-12 padding-leftright-null">
  <section class="showcase-carousel text">
    {{#each this}}
      {{> card this }}
    {{/each}}
  </section>
</div>
