<!-- Contact Us page -->
{{#> page title="Contact Us" areaIsContact=true}}
  {{#>hero image="/assets/img/contact.jpg"}}
    <h1>
      Contact Us
    </h1>
  {{/hero}}

  <section class="centerColumn white contact">
    <div class="autoColumns">
      <div>
        <div class="verticalLine"></div>
        <h2>Start your journey</h2>
        <p class="subhead">Contact our team</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem harum aspernatur sapiente error, voluptas fuga, laudantium ullam magni fugit. Qui!</p>
        <p class="info">
          <strong>Address</strong> 322 Moon St, Venice Italy, 1231
          <br>
          <strong>Phone</strong> 0039 12345 6789
          <br>
          <strong>Email</strong> <a href="mailto:info@example.com">info@example.com</a>
        </p>
        <p>
          <strong>Monday to Friday</strong> 9:00 am to 5:00 pm
          <br>
          <strong>Saturday</strong> 9:00 am to 12:00 pm
        </p>
      </div>
      <form>
        <input name="name" type="text" placeholder="Name">
        <input name="mail" type="text" placeholder="Email">
        <input name="subject" type="text" placeholder="Subject">
        <textarea name="message" rows="6" placeholder="Your Message"></textarea>
        <input type="submit" class="action" value="Send Message">
      </form>
    </div>
  </section>

{{/page}}
