<!-- Page footer -->
<footer class="centerColumn">
  <div class="infoGrid">
    <h3>Dolomia</h3>
    <h3>Useful links</h3>
    <h3>Contact Us</h3>
    <h3>Passionate About Nature</h3>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/treks">Treks</a></li>
      <li><a href="/gallery.html">Gallery</a></li>
      <li><a href="/contact.html">Contact</a></li>
    </ul>
    <ul>
      <li><a href="">FAQs</a></li>
      <li><a href="">Download Catalog</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li><a href="">Cookie Policy</a></li>
    </ul>
    <ul class="info">
      <li>Phone +39 123456789</li>
      <li>Mail <a href="mailto:info@example.com">info@example.com</a></li>
      <li>
        Monday to Friday
        <span class="white">9:00 am to 5:00 pm</span><br />
        Saturday from
        <span class="white">9:00 am to 12:00 pm</span></li>
      <li>
        322 Moon St, Venice<br />
        Italy, 1231
      </li>
    </ul>
    <div>
      <p>
        Sign up for our mounthly newsletter and be the first to hear about our
        new adventures.
      </p>
      <form>
        <div class="textWithButton">
          <input type="email" placeholder="Your email address" />
          <input type="submit" class="action inverse" value="Sign Up" />
        </div>
      </form>
    </div>
  </div>
</footer>