<!-- Top navigation bar -->
<header class="centerColumn">
  <nav>
    <a href="/">
      <img
        id="logoBlack"
        src="/assets/img/logo.png" 
        srcset="/assets/img/logo.png 1x, /assets/img/logo@2x.png 2x" 
        alt="logo"
      >
      <img
        id="logoWhite"
        src="/assets/img/logo_white.png" 
        srcset="/assets/img/logo_white.png 1x, /assets/img/logo_white@2x.png 2x" 
        alt="logo"
      >
    </a>
    <a href="/" id="linkHome"{{#if areaIsHome}} class="active"{{/if}}>Home</a>
    <a href="/treks/"{{#if areaIsTreks}} class="active"{{/if}}>Treks</a>
    <a href="/gallery.html"{{#if areaIsGallery}} class="active"{{/if}}>Gallery</a>
    <a href="/contact.html"{{#if areaIsContact}} class="active"{{/if}}>Contact</a>
  </nav>
</header>
