<!-- Top navigation bar -->
<header class="centerColumn">
  <nav>
    <a id="linkLogo" href="/">
      <svg>
        <use href="/assets/img/logo.svg#logo"></use>
      </svg>
      <h3>aventour</h3>
      <h3 class="small">expeditions</h3>
    </a>
    <a href="/" id="linkHome"{{#if areaIsHome}} class="active"{{/if}}>Home</a>
    <a href="/treks/"{{#if areaIsTreks}} class="active"{{/if}}>Treks</a>
    <a href="/gallery.html"{{#if areaIsGallery}} class="active"{{/if}}>Gallery</a>
    <a href="/contact.html"{{#if areaIsContact}} class="active"{{/if}}>Contact</a>
  </nav>
</header>
