<!-- Home page -->
{{#> page title="Trek Demo" areaIsHome=true}}

  {{#>hero image="/assets/img/trips/trip6.jpg"}}
    <h1>
      Start your adventure
    </h1>
    <p class="tagline">
      Guided expeditions to go beyond your limits
    </p>
    <div>
      <a href="/treks" class="action inverse">View Treks</a>
    </div>
  {{/hero}}

  <section class="centerColumn white">
    <div>
      <h2>About Us</h2>
      <p class="subhead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Hic reprehenderit eligendi dolor incidunt natus commodi
        doloribus culpa ad iusto suscipit dolores, ex obcaecati
        molestias, nulla consectetur dolore quas adipisci
        similique eaque provident. Nostrum, officiis cum facere
        iure et temporibus reprehenderit, vero laudantium numquam
        qui odit. Dolor et inventore earum, deleniti!
      </p>
    </div>
  </section>

  <section class="centerColumn">
    <div class="autoColumns">
      <div class="sellingPoint">
        <div class="icon pd-icon-cloudy-day"></div>
        <h3>
          All conditions
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Dolorem harum aspernatur sapiente error, voluptas fuga,
          laudantium ullam magni fugit. Qui!
        </p>
      </div>
      <div class="sellingPoint">
        <div class="icon pd-icon-camp-bag"></div>
        <h3>
          Professional team
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Dolorem harum aspernatur sapiente error, voluptas fuga,
          laudantium ullam magni fugit. Qui!
        </p>
      </div>
      <div class="sellingPoint">
        <div class="icon pd-icon-camping-knief"></div>
        <h3>
          Expert hikers
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Dolorem harum aspernatur sapiente error, voluptas fuga,
          laudantium ullam magni fugit. Qui!
        </p>
      </div>
    </div>
  </section>

  <!-- Thumbnail gallery -->
  <div class="thumbnails">
    <img src="/assets/img/trip5-small.jpg">
    <img src="/assets/img/trip6-small.jpg">
    <img src="/assets/img/trip7-small.jpg">
    <img src="/assets/img/trip8-small.jpg">
    <img src="/assets/img/trip9-small.jpg">
    <img src="/assets/img/trip10-small.jpg">
    <img src="/assets/img/trip11-small.jpg">
    <img src="/assets/img/trip12-small.jpg">
    <img src="/assets/img/trip2-small.jpg">
    <img src="/assets/img/trip8-small.jpg">
    <img src="/assets/img/trip9-small.jpg">
  </div>

  <!-- Trip showcase  -->
  <section class="centerColumn">
    <div class="verticalLine"></div>
    <h2>
      Featured trips
    </h2>
    <p class="subhead">
      for the coming year
    </p>
    {{> cards @root }}
  </section>

  <!-- Testimonial -->
  <section class="callout">
    <div class="background"></div>
    <div class="centerColumn">
      <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Consequuntur voluptatum fugiat molestias,
        veritatis perspiciatis laborum modi beatae placeat
        explicabo at laudantium aliquam, nam vero ut!
        <em>— John Doe</em>
      </blockquote>
    </div>
  </section>

  <!-- Team -->
  <section class="centerColumn white">
    <div class="verticalLine"></div>
    <h2>
      Our fabulous team
    </h2>
    <p class="subhead">
      A love for the outdoors
    </p>
    <div class="autoColumns">
      <div class="person">
        <img src="/assets/img/hiker1.jpg">
        <div class="name">Berkely Keary</div>
        <div class="country">Cairns, Australia</div>
      </div>
      <div class="person">
        <img src="/assets/img/hiker2.jpg">
        <div class="name">Jessica Simpson</div>
        <div class="country">Chamonix-Mont-Blanc, France</div>
      </div>
      <div class="person">
        <img src="/assets/img/hiker3.jpg">
        <div class="name">Gilbert Patrick</div>
        <div class="country">Kitzbühel, Austria</div>
      </div>
    </div>
  </section>

{{/page}}
