<!DOCTYPE html>
<!-- Main page template -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/new.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/puredesign.css">
    <script type="module">
      window.addEventListener("scroll", () => {
        const header = document.querySelector("header");
        header.classList.toggle("opaque", window.scrollY > 90);
      });
    </script>
  </head>
  <body>
    {{> header }}
    {{> @partial-block }}
    {{> footer }}
  </body>
</html>
